src/main/mule/file-121.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="953a7a97-93d3-4a85-b9b2-20131844ef15" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="file-121Flow" doc:id="6bc7abf9-c213-415b-8e1c-61dd31f87fbf" >
		<http:listener doc:name="Listener" doc:id="c36c7e84-0f2c-4636-8db4-8394e7efdd7e" config-ref="HTTP_Listener_config" path="/file" allowedMethods="GET"/>
		<file:move doc:name="Move" doc:id="eea72531-e779-4690-9bea-33bdf4a14d66" sourcePath="D:\workspace-4.0\file-121\src\main\resources\input" targetPath="D:\workspace-4.0\file-121\src\main\resources\output"/>
		<logger level="INFO" doc:name="Logger" doc:id="5fc9a3eb-3fcc-4809-be5b-df71efdf6618" message="#[payload]"/>
	</flow>
</mule>
